@import "tailwindcss";

:root {
  --color-muted: var(--color-gray-400);
  --color-text: var(--color-gray-600);
  --color-heading: var(--color-gray-950);
  --color-link: var(--color-blue-600);
  --color-accent: var(--color-orange-600);

  --color-border: var(--color-gray-200)
}

/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */

@theme inline {
  --breakpoint-*: initial;
  --breakpoint-tablet: 40rem;
  --breakpoint-laptop: 64rem;
  --breakpoint-desktop: 80rem;

  --color-muted: var(--color-muted);
  --color-text: var(--color-text);
  --color-heading: var(--color-heading);
  --color-link: var(--color-link);
  --color-accent: var(--color-accent);

  --color-border: var(--color-border);

  /* --color-background: var(--background);
  --color-foreground: var(--foreground); */
  --font-*: initial;
  --font-body: var(--font-body);
  --font-heading: var(--font-heading);
  --font-code: var(--font-code);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h1 {
  font-family: var(--font-heading);
  font-size: 2.5rem;
}

h2 {
  font-family: var(--font-heading);
  font-size: 2rem;
}

h3 {
  font-family: var(--font-heading);
  font-size: 1.75rem;
}

h4 {
  font-family: var(--font-body);
  font-size: 1.1rem;
  font-weight: 600;
}

  ul {
    list-style-type: disc;
    padding-left: 1.25rem; /* 20px */
  }

  ol {
    list-style-type: decimal;
    padding-left: 1.25rem;
  }

  li {
    margin-bottom: 0.25rem;
  }

body {
  /* background: var(--background); */
  color: var(--color-text);
  font-family: var(--font-body);
  /* font-family: Arial, Helvetica, sans-serif; */
}