@import "tailwindcss";

:root {
  --color-muted: var(--color-gray-400);
  --color-text: var(--color-gray-600);
  --color-heading: var(--color-gray-950);
  --color-link: var(--color-blue-600);
  --color-accent: var(--color-orange-600);

  --color-border: var(--color-gray-200)
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-tablet: 40rem;
  --breakpoint-laptop: 64rem;
  --breakpoint-desktop: 80rem;

  --color-muted: var(--color-muted);
  --color-text: var(--color-text);
  --color-heading: var(--color-heading);
  --color-link: var(--color-link);
  --color-accent: var(--color-accent);

  --color-border: var(--color-border);

  /* --font-*: initial;
  --font-body: var(--font-body);
  --font-heading: var(--font-heading);
  --font-code: var(--font-code); */
}


body {
  color: var(--color-text);
}